html,
body,
div,
h1,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.5em;
  color: #e0004e;
  margin: 0 0 10px 0;
}

p {
  padding: 5px 0;
}
